<h1 class="mt-20">Question Of {{ qTitle }}</h1>

<div class="bootstrap-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="contianer text-center">
        <button
          mat-raised-button
          color="accent"
          [routerLink]="'/admin/add-questions/' + qId + '/' + qTitle"
        >
          Add Questions
        </button>
      </div>

      <mat-card *ngFor="let q of question; let i = index" class="mt-20">
        <mat-card-content>
          <p>
            <b>Q {{ i + 1 }}</b>
            <span class="ml-20" [innerHTML]="q.content"></span>
          </p>

          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <p><b>1) </b> {{ q.option1 }}</p>
              </div>

              <div class="col-md-6">
                <p><b>2) </b> {{ q.option2 }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p><b>3) </b> {{ q.option3 }}</p>
              </div>

              <div class="col-md-6">
                <p><b>4) </b> {{ q.option4 }}</p>
              </div>
            </div>

            <mat-divider></mat-divider>
            <p class="mt-20"><b> Correct Answer : </b> {{ q.answer }}</p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button  color="accent" class="ml-20">Update</button>

          <button mat-flat-button (click)="deleteQuestion(q.qesid)" color="warn" class="ml-10">DELETE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
