<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt-10">
      <div class="col-md-6 offset-md-3">
        <div class="text-center">
          <h1>Welcome to Quizzes Play Game</h1>
        
          <button mat-raised-button color="accent" routerLink="/login" class="mt-10 mb-10">
            Go to Login Page
          </button>

          <img src="../../../assets/Homeimg.jpg" alt=""  style="width:100%"/>
        
        </div>
      </div>
    </div>
  </div>
</div>
