<mat-card *ngIf ="user">
  <h1>Your Profile Deatails</h1>
  <!-- {{user | json}} -->
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="container text-center">
          <img
            src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-social-media-user-vector-image-icon-default-avatar-profile-icon-social-media-user-vector-image-209162840.jpg"
            alt=""
            class="profile-image"
          />

          <h1 class="mt-20">{{ user.firstname }} {{ user.lastname }}</h1>
        </div>

        <div class="row">
          <div class="col-md-10 offset-md-1">
            <!-- table Deatails -->
            <table class="table text-center">
              <tr>
                <td>Username</td>
                <td>{{ user.username }}</td>
              </tr>
              <tr>
                <td>Userid</td>
                <td>Exam-{{ user.id }}</td>
              </tr>
              <tr>
                <td>Phone</td>
                <td>{{ user.phone }}</td>
              </tr>
              <tr>
                <td>Email id</td>
                <td>{{ user.emailId }}</td>
              </tr>
              <tr>
                <td>Role</td>
                <td>{{ user.authorities[0].authority }}</td>
              </tr>
              <tr>
                <td>Status</td>
                <td>{{ user.enable ? "ACTIVE" : "NOT ACTIVE" }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="text-center">
      <button mat-raised-button color="primary">Update</button>
      <button mat-raised-button color="accent">Share</button>
  </mat-card-actions>
</mat-card>
